body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #544C5F;
    margin: auto;
    padding: auto;
}

#board {
    background-image: url(background.png);
}

#container {
    margin: auto;
    padding: auto;
    width: 1000px;
}

#container h1 {
    border-bottom: 1px solid black;

}
#container h3 {
    color: rgb(212, 178, 178);
}

.color {
    color: white;
}

.space {
    color: rgb(158, 117, 117);
    font-weight: bold;
}